<div class="landing">
  <div class="left">
    <div>
      Hao Su
    </div>
    <div>
      Links on links on links on links
    </div>
  </div>
  <div class="right">
    Here are my <strong>random thoughts</strong> in addition to my <strong>online portfolio</strong> and <strong>project documentation</strong>. I'm a Carnegie Mellon CS graduate currently working for <a href="http://www.salesforce.com">Salesforce.com</a> who is interested in <strong>data visualization</strong>, and <strong>fashion</strong>.  Check it out, poke around.
  </div>
</div>