<div class="landing">
  <div class="welcome">
    <div class="one">
      I AM
    </div>
    <div class="two">
      HAO SU
    </div>
  </div>

  <div class="top">
    <div class="description">
      I am a <strong>developer</strong> and wannabe <strong>interaction designer</strong> 
      interested in interactive <strong>data visualizations</strong>. 
      I work at <a href="http://www.salesforce.com">Salesforce</a>
      on the product marketing demos team creating cool apps and illustrating new product
      features.  My previous work includes a brief stint at <a href="http://www.yinzcam.com">YinzCam</a> 
      and four years in Carnegie Mellon's Computer Science program.  Chat with me about 
      <strong>code</strong>, <strong>interaction design</strong>, 
      <strong>ultimate</strong>, and <strong>fashion</strong>.
    </div>
  </div>

  <div class="bottom">
    <div class="contact">
      Email me at me <strong>at</strong> haosu <strong>dot</strong> org, check out my 
      <a href="http://www.github.com/haosu">GitHub</a>, or read my <a href="http://blog.haosu.org">blog</a>.
    </div>
  </div>
</div>