<div class="resume">
  <div class="grid_5">
    <div>
      <strong>education</strong>
      Carnegie Mellon University
      Bachelor of Computer Science 2010
    </div>

    <div>
      
      <div>
        <strong>work experience</strong>
      </div>
      
      <div>
        <div>
          <span class="black">YinzCam Inc.</span>
          <em>Data Visualization and Analytics Lead (January 2010 - Present)</em>
        </div>
        Developed usage tracking system for mobile applications and analytics system using C#. Developed and designed front-end content delivery interface and data visualizations using ASP.net, Javascript, and Raphael.js. Worked with clients such as the Pittsburgh Penguins, Pittsburgh Steelers.
      </div>

      <div>
        <div>
          <span class="black">NextJump Inc.</span>
          <em>Product Development Intern (Summer 2009)</em> 
        </div>
        Developed new features for corporate sites using PHP, Javascript and the Zend Framework. Worked with other web technologies to increase reach and usability of corporate sites.
      <div>

      <div>
        <div>
          <span class="black">Carnegie Mellon Computer Science Department</span>
          <em>Research Assistant (Summer 2008 - Summer 2009)</em>
        </div>
        Developed an application that allows users to simultaneously chat and view online videos with others. Created visualizations to convey social network, and user information data.
      </div>

      <div>
        <div>
          <span class="black">Sony Online Entertainment</span>
          <em>Programming Intern (Summer 2008)</em>
        </div>
        Programmed server authoritative minigames for MMO development using cross platform technology. Researched different methods of cross-technology communication for efficient in-game usage.
      </div>

      <div>
        <div>
          <span class="black">Carnegie Mellon Human Computer Interaction Institute</span>
          <em>Research Assistant (Summer 2007)</em>
        </div>
        Researched multiple methods of computer based human collaboration. Ran studies that focused on gathering data about the effectiveness of collaborative computing.
      </div>

      <div>
        <div>
          <span class="black">Carnegie Mellon interACT Research</span>
          <em>Labaratory Assistant (December 2006 - May 2007)</em>
        </div>
        Prepared data for computer language recognition software. Developed Chinese processing software that focused on accurate phrase recognition.
      </div>

      <div>
        <div>
          <span class="black">Carnegie Mellon Red Team Racing</span>
          <em>Research Volunteer (Summer 2005)</em>
        </div>
        Created a data management and analysis system that organized and analyzed test data. Aided in data collection of hardware tests.
      </div>

      <div>
        <div>
          <span class="black">Carnegie Mellon Andrew’s Leap</span>
          <em>Teaching Staff (Summer 2004, 2005, 2006)</em>
        </div>
        Taught the advanced and intermediate programming sections. Created curriculums based on the abilities of the students.
      </div>

    </div>

    <div>
      <div>
        <strong>organizations</strong>
      </div>

      <div>
        <div>
          Carnegie Mellon Undergraduate Student Senator
        </div>
        <em>Aided in decisions that affected campus life</em>
      </div>

      <div>
        <div>
          Lunar Gala Fashion Show Backstage Coordinator
        </div>
        <em>Trained and directed models, directed show choreography</em>
      </div>

      <div>
        <div>
          Lunar Gala Fashion Show Student Designer
        </div>
        <em>Fabricated custom designed collection of clothing</em>
      </div>

      <div>
        <div>
          First Year Programs Orientation Counselor
        </div>
        <em>Helped acclimate first year students to Carnegie Mellon</em>
      </div>

      <div>
        <div>
          Mr. Yuk Ultimate Frisbee Team
        </div>
        <em>Conditioning Coordinator</em>
      </div>
    </div>
  </div>

  <div class="grid_1"></div>

  <div class="grid_2">
    <div>
      <strong>languages</strong>
    </div>

    <div>
      <p>
        Actionscript
      </p>
      <p>
        Java
      </p>
      <p>
        C/C#
      </p>
      <p>
        PHP
      </p>
      <p>
        HTML/JS/CSS
      </p>
    </div>

    <div>
      <strong>operating systems</strong>
    </div>

    <div>
      <p>
        Unix/Linux
      </p>
      <p>
        Mac OSX
      </p>
      <p>
        Windows
      </p>
    </div>

    <div>
      <strong>software</strong>
    </div>

    <div>
      <p>
        Open/Microsoft Office
      </p>
      <p>
        Microsoft Visual Studio
      </p>
      <p>
        XCode
      </p>
      <p>
        Eclipse
      </p>
      <p>
        Emacs
      </p>
      <p>
        Adobe InDesign
      </p>
      <p>
        Adobe Flash
      </p>
      <p>
        Adobe Illustrator
      </p>
      <p>
        Adobe Dreamweaver
      </p>
    </div>
  </div>
</div>